<h1 mat-dialog-title>Edit Admin</h1>
<div mat-dialog-content>
  <form [formGroup]="editReceptionistForm">
    <mat-form-field>
      <mat-label>Receptionist ID</mat-label>
      <input matInput formControlName="receptionist_ID" readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Admin ID</mat-label>
      <input matInput formControlName="admin_ID" readonly>
    </mat-form-field>
    <mat-form-field>
      <mat-label>User National ID</mat-label>
      <input matInput formControlName="user_National_ID">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" (change)="onGenderChange($event)">
        <mat-option *ngFor="let option of genderOptions" [value]=option>{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Building Number</mat-label>
      <input matInput formControlName="building_Number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birth Date</mat-label>
      <input matInput formControlName="birthDate" type="date">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>user ID</mat-label>
      <input matInput formControlName="userId" readonly>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cancle</button>
  <button mat-raised-button color="primary"  [disabled]="editReceptionistForm.invalid" type="submit" (click)="updateAdmin()">Edit</button>

</div>
